body {
    overflow: hidden;
    background: transparent;
    opacity: 0.9;
}

.toolbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(7, 5, 39, 0.373);
    padding: 5px;
    border-radius: 15px;
    border-color: blueviolet;
    border-width: 5px;
    width: 260px;
    height: 37px;
    position: relative;
}

.dragHandle {
    width: 45%;
    height: 5px;
    background-color: lightblue;
    border-radius: 5px;
    position: absolute;
    top: 7px;
    -webkit-app-region: drag;
}

.toolbar-item {
    margin-top: auto;
    user-select: none;
    cursor: pointer;
    margin-bottom: 3px;
}

