body {

    opacity: 0.90;
    overflow: hidden;
    background: transparent;
}

.toolbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: aliceblue;
    padding: 5px;
    border-radius: 14px;
    border-width: 5px;
    width: 260px;
    height: 36px;
    position: relative;
    user-select: none;
}


.toolbarItem {
    margin-top: auto;
    user-select: none;
    cursor: pointer;
    margin-bottom: 2.5px;
    -webkit-app-region: no-drag;
}

.dragHandle {
    width: 63.5%;
    height: 5px;
    background-color: lightskyblue;
    border-radius: 5px;
    position: absolute;
    top: 5px;
    /* -webkit-app-region: drag; */
    user-select: none;
}

.musicContainer {
    user-select: none;
    cursor: pointer;
    gap: 1.2px;
    display: none;
    align-items: center;
    justify-content: space-between;
    background-color: #f0f8ff;
    width: 75%;
    padding: 5px 0;
    border-radius: 5px;
    border-width: 5px;
    margin-top: -1.5px;
}

.parentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.widthItem {
    width: 17.5%;
    font-size: 1.1rem;
}

/* @keyframes stretchAnimation {
    0% {
        width: 45%;
        background-color: lightskyblue;
    }

    50% {
        width: 80%;
        background-color: green;
    }

    100% {
        width: 45%;
        background-color: lightskyblue;
    }
} */

/* .stretch-animation {
    animation: stretchAnimation 5s ease;
} */


.disableDragEvents {
    -webkit-app-region: no-drag;
}

.enableDragEvents {
    -webkit-app-region: drag;
}
